body {
  text-align: center;
  margin: 0;
  font-family: 'Avenir', sans-serif;
  background: #1D2B64;
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64); */
  background: -webkit-linear-gradient(to right, #8a88df, #88DBDF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8a88df, #88DBDF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: fadeIn 2.5s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}